
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style: none;
}

a{
    text-decoration: none;

}

img{
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  }

.section{
    padding-top: 48px;
    padding-bottom: 48px;
}

@media screen and (min-width: 768px){
    .section{
        padding-top: 48px;
        padding-bottom: 48px;
    }
}

@media screen and (min-width: 1440px) {
    .container{
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.container {
    min-width: 320px;
    max-width: 375px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    /*width: 1158px;
    margin: 0 auto;
    padding: 0 15px;*/
    
}

@media screen and (min-width: 768px) {
    .container{
        max-width: 736px;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1440px) {
    .container{
        max-width: 1158px;
    }
}

/*==============HEADER=============*/


.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    position: relative;
    color: #404bbf;
}



.header .container{
    display: flex;
    align-items: center;
}

.header_nav{
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header-logo {
    margin-right: 76px;
    color: #4D5AE5;
    font-size: 18px;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.54px;
    word-wrap: break-word
}

.header-logo:hover {
    color: #404bbf;
}

.header_logo_studio {
    color: #2E2F42;
    font-size: 18px;
    font-family: "Raleway";
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.54px;
    word-wrap: break-word
}

.header_menu_list_a_a{
    color: #404bbf;
    display: block;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.header_menu_list_a_a::after{
    
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    border-radius: 2px;
    content: "";
}

.header-menu-list {
    gap: 40px;
    display: flex;
    color:#434455;;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    word-wrap: break-word
}

.header_menu_list_menu{
    color: #434455;
    display: flex;
    gap: 40px;
    
}

.header_menu_list_a{
    color: #434455;
    display: block;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.header_menu_list_a:hover {
    color: #404BBF;
}

.header_menu_list_a:focus {
    color: #404BBF;
}

.header-menu-item {  
    color: #434455;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    word-wrap: break-word;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.header-menu-item-a{  
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.header-menu-item-a:hover {  
    color: #404BBF;
}

.header-menu-item-a:focus {  
    color: #404BBF;
}

.address {
    display: flex;
    font-style: normal;
    gap: 40px;

}
/*================HERO===========*/

.hero {
    background-color: #2E2F42 ; 
    padding: 188px 0;
    max-width: 1440px; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-1.jpg);
    margin: 0 auto;
}

.hero-title {
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
    text-align: center;
    color: white;
    font-size: 56px;
    font-family: "Roboto";
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    word-wrap: break-word
}


.hero-btm {
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    height: 56px;
    min-width: 169px;
    display: block;
    color: white;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    cursor: pointer;
    background-color: #4D5AE5;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btm:active {
    background-color: #404BBF;
}

.hero-btm:focus {
    background-color: #404BBF;
}

.hero-btm:hover {
    background-color: #404BBF;
}



/*==============strategy=============*/



.strategy {

    padding: 120px 0;
    line-height: 1.07;
}


.strategy_ul{
    display: flex;
    gap: 24px;

}

.strategy_li{
    margin: 0;
    padding: 0;
    width: calc((100% - 72px) / 4);

}

.strategy-h{
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.strategy_p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.container_div{
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;

}

/*==============footer=============*/

.footer{
    background-color: #2e2f42;
    padding: 100px 0;

}

.footer-p{
    max-width: 264px;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    line-height: 1.5
    
}

.footer-logo{
    margin-bottom: 16px;
    display: inline-block;
    color: #4D5AE5;
    text-transform: uppercase;
    line-height: 21px;
    letter-spacing: 0.54px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17
    
}


.footer_logo_studio{
    color: #F4F4FD;
    font-size: 18px;
    font-family: "Raleway";
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    word-wrap: break-word
}

.footer_p_div{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:  #FFFFFF;

}

.footer_ul{
    display: flex;
    gap: 16px;
}

.footer_li{
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.footer_a{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: inline-block;;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    display: flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer_a:hover{
    background-color: #31d0aa;
}

.footer_a:focus{
    background-color: #31d0aa;
}

.footer_svg{
    width: 24;
    height: 24;
    fill: #F4F4FD;
}

.container_footer_a{
    
    align-items: baseline;
    margin-right: 120px

}

.container_footer{
    align-items: baseline;
    display: flex;
}

.container_footer_wrapper {
    margin: auto;
}
.footer_wrapper_name {
    color: var(--WHITE, #FFF);
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.32px;
    line-height: 1.5; 
}

.form_sub {
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer_wrapper_label_input {
}

.footer_wrapper_input {
    width: 264px;
    height: 40px;
    background-color: transparent;
    outline: transparent;
    color: var(--WHITE, #FFF);
    font-size: 12px;
    letter-spacing: 0.48px;
    border-radius: 4px;
    border: 1px solid var(--WHITE, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 8px;
    line-height: 2;
    padding-left: 16px;
}

.footer_btn {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 24px;
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.64px;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    min-width: 165px;
    height: 40px;
    justify-content: center;
    line-height: 1.5;
    cursor: pointer;
    border: none;
}

.footer_btn_svg {
    margin-left: 16px;
}


/*=====team=====*/


.team{
    padding: 120px 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #F4F4FD;
    color: #434455;

}



.logo_team{
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;

    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}


.team_li_svg{
    height: 40px;
    width: 40px;
    
    
}

.team_li{

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
    background-color: #FFFFFF;
    
}

@media screen and (min-width: 768px) {
    .team_li{}
}


.team_svg{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #F4F4FD;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team_svg:hover{
    background-color: #404BBF;
    
}

.team_svg:focus{
    background-color: #404BBF;
    
}

.team_ul_svg{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team_div{
    padding: 32px 0;

}

.team_ul{
    display: flex;
    gap: 24px;
}


.team_h{
    margin-bottom: 8px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team_p {
    text-align: center;
    font-size: 16px
}


/*=== Our Portfolio ===*/

.portfolio{
    padding: 120px 0 120px 0;
}

.portfolio_logo{
    margin-bottom: 72px;

    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42 ;
}

.portfolio_ul{
    display: flex;
    flex-wrap: wrap; 
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio_div{
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none;
    
}



.portfolio_li{
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.portfolio_li:hover{
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    
    
}

.portfolio_li:hover .portfolio_div_p{
    transform: translateY(0%);
    
}



.portfolio_h{
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-p{
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio_div_img{
    position: relative;
    overflow: hidden;
}

.portfolio_p_b{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%; 
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio_div_p{
    position: absolute; 
    top: 0;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%; 
    width: 100%; 
    transform: translateY(100%); 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/*=== backdorp ===*/

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.model{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

@media screen and (max-width: 768px){
    .model{
        width: 288px;
    }
}


.model_button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model_button:hover {
    background-color: #404bbf; 
    border: none;
}

.model_button:focus {
    background-color: #404bbf;
    border: none;
}

.model_button_svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.model_button_svg:hover {
    fill: #ffffff;
}

.model_button_svg:focus {
    fill: #ffffff;
}

.modal_p {
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
}

.model_form {

}

.form_label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;;
    display: block;
    margin-bottom: 4px;
}

.form_div{
    margin-bottom: 8px;
   

}

.form_div_input{
    position: relative;

}

.form_input_name {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px; 
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form_input_name:focus {
    border-color: #4D5AE5;
}

.form_svg_name {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_svg_name:focus {
    fill: #4D5AE5;
}

.form_label_Comment {

}

.button_send{
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;

}

.form_div_comment{
    margin-bottom: 16px;

}

.form_textarea{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_textarea:focus {
    border-color: #4D5AE5;

}

.form_div_privacy{
    margin-bottom: 24px;
}

.privacy_input{
    
}

.privacy_input:checked {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.div_privacy_label{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:  #8e8f99;

}

.div_privacy_span{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;

}

.div_privacy_a{
    color: #4d5ae5;
}

.model_button:hover .model_button_svg,
.model_button:focus .model_button_svg {
    fill: #ffffff;
}

.privacy_input:checked + .div_privacy_label > .div_privacy_span {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.form_input_name:focus + .form_svg_name {
    fill: #4D5AE5;
}





.mobile_menu_svg{
    display: flex;
    gap: 16px;
}

.mobile_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 72px 16px 40px;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform 300ms ease-in;
}
.mobile_menu_btm {
    position: absolute;
    top: 24px;
    right: 24px;
    border: 1px #e7e9fc;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}
.mobile_menu_list {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 36px;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: auto;
}

.mobile_menu_item:not(:last-child) {
    margin-bottom: 40px;
    
}

.mobile_menu_item{
    color: var(--NAVY-BLUE, #2E2F42);

}


.mobile_menu_adres{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
    color: var(--SLATE, #434455);
    margin-bottom: 48px;
}

.mobile_menu_adres_a{
    margin-bottom: px;
}

.mobile_menu_adres_a_accent {
    margin-bottom: 24px;
    color: var(--IRIS, #4D5AE5);
}

.mobile_menu_a.current {
    color: var(--OCEAN, #404BBF);
}
.mobile_menu_a_Contacts{
    margin-bottom: 168px;
}
.mobile-menu-a {
    background: rgba(46, 47, 66, 1);


}
