body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque ;
    max-width: 600px;
    margin: 0 auto;
}

div{
    background-size: cover;
    height: 400px;
    margin: 40px 0 0 0;
    border-radius: 12px;
    position: relative;
}

h1{
    text-align: center;
    font-size: 50px;
    margin: 60px 0 0 0;
}

h2{
    text-align: center;
    margin: 0 20 70px 0;
}

h3{
    text-align: center;
    margin: 0 20 70px 0;
}


p{
    color:white ;
    background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,0.4));
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,0.4));
    background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,0.4));
    padding: 10px;
    line-height: 28px;
    border-radius: 12px;
    text-align: justify;
    position: absolute;
    bottom: 0;
    margin: 0;
    height: 30px;
    transition: height .5s;
    -webkit-transition: height .5s;
    -moz-transition: heigth .5s;
}

small{
    opacity: 0;
}

.show-opis p{
    height: 150px;
}

.show-opis small{
    opacity: 1;
}

.borsch {
    background-image: url(../images/800_0_1588081977-7108.webp);
}
.paste {
    background-image: url(../images/krem-pashtet-iz-kurinij-pecheni_siteWeb.jpg);
}
.tongue {
    background-image: url(../images/varenii_svinoi_yazik_ochen_prostoi_recept-409392.jpg);
}

.price{
    margin-right: 504px;
}

.price-text{
    float: right; 
}

@media (max-width:500px){
    .div{
        margin: 20px 12px 0 12px;
    }
    h1{
        font-size: 50px;
        line-height: 30px;
        margin-top: 65px;
    }
    h2{
        font-size: larger;
        margin: 30px 0 30px 0;
    }
    
    small{
        font-size: 16px;
    }
    .price{
        margin-right: 389px;
    }
}